[*.{cs,vb}]

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = true:none

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# CS0414: The field 'GPU.VBlankLine' is assigned but its value is never used
dotnet_diagnostic.CS0414.severity = none

# CS0649: Field 'GPU.LCDCStatusInterrupt' is never assigned to, and will always have its default value 0
dotnet_diagnostic.CS0649.severity = none
