################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Roms/
/bin/
../Roms/
/Monoboy/Roms
/Monoboy.Tests/bin/Debug/Tests/Cpu
/MigrationBackup/
/.vs/