body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background-color: #1e2224;
}

#pause
{
    position: absolute;
    left: 0;
    top: 0;
}

#viewport
{
    image-rendering: pixelated;
    cursor: pointer;
}

#file-picker
{
    position: absolute;
    width: 100%;
    height: 100%;
}
